/* COLORS */

$green: #007444;
$orange: #DE761C;
$black: #000000;
$blue: #005D98;
$white: #FFFFFF;
$purple: #862567;

@font-face {
  font-family: 'Replica';
  font-style: normal;
  font-weight: normal;
  //src: url('../fonts/ReplicaStd-Bold.otf');
  src: url('../fonts/ReplicaStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ReplicaStd-Bold.woff') format('woff'),
  url('../fonts/ReplicaStd-Bold.ttf')  format('truetype'),
  url('../fonts/ReplicaStd-Bold.svg#svgFontName') format('svg');
}

body{
  background-image: url("../images/3Eleven-Holdingpage-161219-1-TK-BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: 'Replica', serif;
  font-size: 48px;
  line-height: 48px;
  overflow-x: hidden;
}

.content{
  overflow: hidden;
  position: relative;
  margin: auto;
}


.container{
  max-width: 1024px;
}

.logoSymbols{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: auto;
}

#buildingImage{
  width: 100%;
  height: auto;
  display: block;
  margin-top: 40%;
  position: relative;
  z-index: 6;

  @media screen and (min-width: 1500px){
    margin-top: 50%;
  }

  @media screen and (min-width: 1800px){
    margin-top: 60%;
  }

  @media screen and (min-width: 2100px){
    margin-top: 70%;
  }
}

#overlayPattern{
  width: 100%;
  height: auto;
  position: absolute;
  top: 3.2%;
  z-index: 10;
  transition: all .2s ease;

  @media screen and (min-width: 550px){
    top: 1%;
  }

  @media screen and (min-width: 1240px) {
    top: .5%;
  }

  @media screen and (min-width: 1340px) {
    top: -2.5%;
  }

  @media screen and (min-width: 1440px) {
    top: -6%;
  }

  @media screen and (min-width: 1540px) {
    top: -8%;
  }

  @media screen and (min-width: 1640px) {
    top: -11%;
  }

  @media screen and (min-width: 1740px) {
    top: -14%;
  }

  @media screen and (min-width: 1840px) {
    top: -17%;
  }

  @media screen and (min-width: 1940px) {
    top: -20%;
  }

  @media screen and (min-width: 2040px) {
    top: -22%;
  }

  @media screen and (min-width: 2240px) {
    top: -26%;
  }

  @media screen and (min-width: 2340px) {
    top: -27%;
  }

  @media screen and (min-width: 2440px) {
    top: -31%;
  }

  @media screen and (min-width: 2540px) {
    top: -33%;
  }

  @media screen and (min-width: 2640px) {
    top: -35%;
  }

  @media screen and (min-width: 2740px) {
    top: -38%;
  }

  @media screen and (min-width: 2840px) {
    display: none;
  }

}

.formContainer{
  position: relative;
  z-index: 12;



  input{
    text-align: left;
    height: 140px;
    border-radius: 0;
    margin-top: 10px;
    font-size: 112px;
    text-transform: uppercase;
    float:left;

    &:focus {
      outline-offset: 0px;
    }


    @media screen and (max-width: 768px){
      font-size: 98px;
    }

    @media screen and (max-width: 480px){
      font-size: 52px;
      height: 72px;
    }
  }
}

#hiddenPattern{
  width: 100%;
  height: auto;
  opacity: 0;
}

.leasingText{
  position: relative;
  z-index: 12;
  font-size: 124px;
  line-height: 124px;
  color: $white;
  text-shadow:
          -4px -4px 0 #000,
          4px -4px 0 #000,
          -4px 4px 0 #000,
          4px 4px 0 #000;

  @media screen and (max-width: 480px){
    text-shadow:
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000;
  }
}

.leasingTextTop{
  display: block;
  margin-top: 300px;
  text-align: right;
  @media screen and (max-width: 768px){
    margin-top: 150px;
    font-size: 60px;
  }

  @media screen and (max-width: 480px){
    margin-top: 100px;
    font-size: 34px;
  }
}

.leasingTextBottom{
  text-align: left;
  display: block;
  margin-bottom: 300px;

  a{
    color: $white !important;
    text-decoration: none;
  }

  @media screen and (max-width: 768px){
    font-size: 60px;
    margin-bottom: 150px;
  }

  @media screen and (max-width: 480px){
    font-size: 34px;
    margin-bottom: 100px;
    position: relative;
    top: -80px;
  }
}

footer{
  height: 80px;
  background-color: $black;
  position: relative;
  z-index: 20;

  .jbcLogo{
    width: 350px;
    display: block;
    margin-top: 18px;

    @media screen and (max-width: 480px){
      margin-top: 30px;
      width: 200px;
    }
  }

  .footerSmallLogo{
    float: right;
    width: auto;
    height: 38px;
    margin-top: 20px;
  }

  #disabledLogo{

    @media screen and (max-width: 480px){
      margin-top: -25px;
      height: 20px;
    }
  }

  #equalHousing{
    height: 30px;
    margin-right: 20px;
    margin-top: 25px;

    @media screen and (max-width: 480px){
      margin-right: 30px;
      margin-top: -25px;
      height: 18px;
    }
  }
}

.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1b1f;
  z-index: 50;
  text-align: center;

  img{
    position: relative;
    top: 350px;
    //transform: translateY(-50%);

    @media screen and (max-width: 480px){
      top: 150px;
      left: -15px;
    }
  }
}


#nameInput{
  color: $green;

  &::-webkit-input-placeholder {
    color: $green;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $green;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $green;
  }

  &:-ms-input-placeholder {
    color: $green;
  }
}

#emailInput{
  color: $orange;
  &::-webkit-input-placeholder {
    color: $orange;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $orange;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $orange;
  }

  &:-ms-input-placeholder {
    color: $orange;
  }
}

#phoneInput{
  color: $purple;
  &::-webkit-input-placeholder {
    color: $purple;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $purple;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $purple;
  }

  &:-ms-input-placeholder {
    color: $purple;
  }
}

#submitInput{
  background-color: $black;
  color: $white;
  border: none;
  padding-left: 14px;
  //padding-top: 10px;

  @media screen and (max-width: 480px){
    padding-left: 14px;
    //padding-top: 10px;
  }

}

#logo-symbol-1{
  z-index: 2;

  &.active{
    animation: slideDownTopRight 1.5s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  &.active-mobile{
    top: 0;
    left: 0;
    opacity: 1;
  }
}
#logo-symbol-2{
  z-index: 4;

  &.active{
    animation: slideUpBottomRight 1.5s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  &.active-mobile{
    top: 0;
    left: 0;
    opacity: 1;
  }
}
#logo-symbol-3{
  z-index: 3;

  &.active{
    animation: slideDownTopLeft 1.5s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  &.active-mobile{
    top: 0;
    left: 0;
    opacity: 1;
  }
}
#logo-symbol-4{
  z-index: 2;

  &.active{
    animation: slideDownTopLeft 1.5s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  &.active-mobile{
    top: 0;
    left: 0;
    opacity: 1;
  }
}
#logo-symbol-5{
  z-index: 3;

  &.active{
    animation: slideUpBottomRight 1.5s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  &.active-mobile{
    top: 0;
    left: 0;
    opacity: 1;
  }
}
#logo-symbol-6{
  z-index: 2;

  &.active{
    animation: slideUpBottomLeft 1.5s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  &.active-mobile{
    top: 0;
    left: 0;
    opacity: 1;
  }

}
#logo-symbol-7{
  z-index: 1;

  &.active{
    animation: slideDownTopLeft 1.5s linear alternate;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  &.active-mobile{
    top: 0;
    left: 0;
    opacity: 1;
  }
}

form{
  opacity: 1;
  transition: opacity .3s ease;

  &.hide{
    opacity: 0;
  }
}

.thankYouOverlay{
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
  height: auto;

  img{
    position: absolute;
    opacity: 0;
    display: none;
    width: 100%;
    height: auto;
  }

  &.active{
    z-index: 12;
  }

  #thank-symbol-1{
    &.active {
      z-index: 22;
      animation: slideUpBottomLeft 1.5s linear alternate;
      animation-fill-mode: forwards;
      animation-delay: .5s;
    }
  }

  #thank-symbol-2{
   &.active {
     z-index: 23;
     animation: slideUpBottomRight 1.5s linear alternate;
     animation-fill-mode: forwards;
     animation-delay: .5s
   }
  }

  #thank-symbol-3{
    &.active {
      z-index: 32;
      animation: slideDownTopRight 1.5s linear alternate;
      animation-fill-mode: forwards;
      animation-delay: .5s;
    }
  }

  #thank-symbol-4{
    &.active {
      z-index: 23;
      animation: slideDownTopLeft 1.5s linear alternate;
      animation-fill-mode: forwards;
      animation-delay: .5s;
    }
  }

  #thank-symbol-5{
    &.active {
      z-index: 23;
      animation: slideDownTopRight 1.5s linear alternate;
      animation-fill-mode: forwards;
      animation-delay: .5s;
    }
  }

  #thank-symbol-6{
    &.active {
      z-index: 25;
      animation: slideUpBottomRight 1.5s linear alternate;
      animation-fill-mode: forwards;
      animation-delay: .5s;
    }
  }

  #thank-symbol-7{
    &.active {
      z-index: 23;
      animation: slideUpBottomLeft 1.5s linear alternate;
      animation-fill-mode: forwards;
      animation-delay: .5s;
    }
  }

  #thank-symbol-8{
    &.active {
      z-index: 23;
      animation: slideDownTopRight 1.5s linear alternate;
      animation-fill-mode: forwards;
      animation-delay: .5s;
    }
  }



}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes slideDownTopRight {
  from {
    opacity: 0;
    transform: translate(350px, -350px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slideDownTopLeft {
  from {
    opacity: 0;
    transform: translate(-350px, -350px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slideUpBottomRight {
  from {
    opacity: 0;
    transform: translate(350px, 350px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slideUpBottomLeft {
  from {
    opacity: 0;
    transform: translate(-350px, 350px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(0px, 350px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.parsley-type, .parsley-required, .parsley-pattern {
  list-style: none;
  color: white;
  font-size: 18px;
  position: absolute;
  color: maroon;
  right: 20px;
  margin-top: 10px
}

.parsley-errors-list {
  margin-bottom:0px;
}